load-font($font)
  src url(fonts/$font.eot)
  src url(fonts/$font.eot?#iefix) format("embedded-opentype"),
    url(fonts/$font.woff2) format("woff2"),
    url(fonts/$font.woff) format("woff"),
    url(fonts/$font.ttf) format("truetype")

@font-face
  load-font(Monoid-Regular)
  font-family Monoid
  font-weight normal
  font-style normal

@font-face
  load-font(Monoid-Bold)
  font-family Monoid
  font-weight bold
  font-style normal

@font-face
  load-font(Monoid-Italic)
  font-family Monoid
  font-weight normal
  font-style italic
