@import 'nib'

// define colours
page_bg = black
page_fg = #CFBFAD
content_bg = #1E1E27
link_bg = #404040
link_fg = #FFCD8B

cursorline_bg = #2E2E37
cursorline_thickness = 1.3em

meta_fg = #CD8B00
meta_font = "Monaco", "Andale Mono", monospace

cursorline(side)
  border-{side} cursorline_thickness solid cursorline_bg
  border-{side} cursorline_thickness solid rgba(cursorline_bg, 0.99)

prefix(str)
  &:before
    content str

*
  box-sizing border-box

body
  background-color page_bg
  color page_fg
  font-family sans-serif
  font-size 10pt
  margin 0

  display flex
  min-height 100vh
  flex-direction column
  align-items center

main
  flex 1
  display flex
  flex-direction column
  justify-content center
  margin 2em auto

a
  color link_fg
  &:hover
    background-color link_bg
  img
    border none
img
  max-width 100%

ol.notes
  padding-left 0

.postextras, ol.notes
  list-style-type none
  > li
    prefix "# "
    color meta_fg
    font-family meta_font
    font-size 8pt
    margin-top 0.5em
    a
      color meta_fg
      text-decoration none

p.permalink a
  @extends ol.notes > li a

.tags ul
  list-style-type none
  display inline
  padding-left 0
  li
    display inline
    margin 0
    padding 0

a.tag
  prefix "#"
  margin-right 1em

blockquote
  cursorline left
  padding-left 1em
  margin-left 0em
  margin-right 0em

code, pre
  background-color content_bg

h1
  font-family meta_font
  font-size 24pt
  margin-bottom -10px
  padding-bottom 0
  a
    text-decoration none !important

.meta
  font-family meta_font
  list-style-type none
  float right
  text-align right
  li
    display inline
    &:not(:first-child)
      prefix " / "

p#description
  prefix "# "
  color meta_fg
  font-family meta_font

ol#posts
  list-style-type none
  border-radius 5px
  padding-left 0
  width 100%

ol#posts, footer, header
  background content_bg
  background rgba(30, 30, 39, 0.9)
  padding-top 1em

header, footer
  width 100%
  padding-left 2em
  padding-right 2em
main
  width 70%

header
  padding-bottom 0.5em

li.post
  display flex
  line-height 1.3em
  padding 0em 2em (2em - cursorline_thickness) 2em

  .content
    flex 1
  .postextras
    max-width 30%
    padding-left 1px

  h3
    prefix "# "
    &, a
      color meta_fg
      font-family meta_font
      font-size 12pt
      font-weight normal
      text-decoration none

  &:not(:first-child)
    padding-top cursorline_thickness
    cursorline top

  &.quote
    div.source
        margin-top 1em
        &:before
          content 'source: '
  &.link
    a.link
      text-decoration none
      &:before
        content "link: "
  &.chat
    padding-top 0.5em
    ul
      list-style-type none
      margin-left 0
      padding-left 0
      li
        margin-top 0.5em
        &:first
          margin-top 0
    dt
      float left
      width 8em
    dd
      margin-left 8.5em
      margin-bottom 0.5em
    .label
      font-weight bold
  &.audio
    padding-top 0.5em

p#attribution
  font-size 8pt

ul.twocol
  column-count 2

@media (max-width: 768px)
  main
    width 100%
    padding 0 1em
  li.post
    flex-direction column
    .postextras
      max-width 100%
