@import 'nib'

// define colours
page_bg = black
page_fg = #CFBFAD
content_bg = #1E1E27
link_bg = #404040
link_fg = #FFCD8B

cursorline_bg = rgba(#2E2E37, 1)
cursorline_thickness = 1.3em

breakpoints = 48em 35em

meta_fg = #CD8B00
meta_font = "Inconsolata", "Monaco", "Anonymous Pro", "Andale Mono", monospace

cursorline(side)
  border-{side} cursorline_thickness solid cursorline_bg

prefix(str)
  &:before
    content str

arrow(arrow-width = 10px, arrow-colour)
  margin-right arrow-width * (4/3)
  &:after
    left 100%
    top 50%
    content ' '
    position absolute
    height 0
    width 0
    pointer-events none
    border arrow-width solid transparent
    margin-top (- arrow-width)
    border-left-color arrow-colour

when(size)
  condition = unquote("(max-width: %s)" % size)
  @media condition
    {block}

*
  box-sizing border-box

body
  background-color page_bg
  color page_fg
  font-family sans-serif
  margin 0

  display flex
  min-height 100vh
  flex-direction column
  align-items center

$box
  width 100%
  padding-left 2em
  padding-right 2em
  background content_bg
  background rgba(content_bg, 1)

body > header
  @extends $box
  padding-bottom 0.5em
  > div
    display flex
    justify-content space-between

body > main
  margin 2em auto
  width 70%
  min-width breakpoints[0]
  flex 1
  display flex
  flex-direction column
  justify-content center

  ol#posts
    @extends $box
    padding 1em 0 0 0

    list-style-type none
    border-radius 5px

body > footer
  @extends $box
  display flex
  align-items center
  justify-content space-between
  p#attribution
    font-size 0.7em
    min-width 10em

a
  color link_fg
  &:hover
    background-color link_bg
  img
    border none
img, iframe
  max-width 100%

$meta_list
  list-style-type none
  > li
    prefix "# "
    color meta_fg
    font-family meta_font
    font-size 0.8em
    margin-bottom 0.5em
    line-height 1.5em
    a
      color meta_fg
      text-decoration none

.tags ul
  list-style-type none
  display inline
  padding-left 0
  li
    display inline
    margin 0
    padding 0

a.tag
  prefix "#"
  margin-right 1em

blockquote
  cursorline left
  padding-left 1em
  margin-left 0em
  margin-right 0em
  &.long, &.long blockquote
    border-left-width 0.5em
  &.peep_0, &.peep_4, &.peep_8
    border-left-color lighten(cursorline_bg, 20%)
  &.peep_1, &.peep_5, &.peep_9
    border-left-color darken(cursorline_bg, 20%)
  &.peep_2, &.peep_6, &.peep_10
    border-left-color lighten(cursorline_bg, 40%)
  &.peep_3, &.peep_7, &.peep_11
    border-left-color lighten(cursorline_bg, 60%)

code, pre
  background-color content_bg
  white-space pre-wrap

h1
  font-family meta_font
  font-size 24pt
  margin-bottom -10px
  padding-bottom 0
  a
    text-decoration none !important

.meta
  font-family meta_font
  list-style-type none
  padding 0
  margin 0
  align-self center
  li
    display inline
    &:not(:first-child)
      prefix " / "

p#description
  prefix "# "
  color meta_fg
  font-family meta_font

li.post
  display flex
  flex-wrap wrap
  line-height 1.3em
  padding 0em 2em (2em - cursorline_thickness) 2em
  font-size 0.9em

  .content
    flex 1
    ol, ul
      margin-top 1em
      margin-bottom 1em
    li
      margin-bottom 0.2em
    > *:first-child
      margin-top 0
  aside#notes
    width 100%
    ol.notes
      @extends $meta_list
      padding-left 0
      .avatar_frame
        margin-right 5px
  .postextras
    @extends $meta_list
    width 12em
    padding 0
    margin-left 1em

  h3
    prefix "# "
    &, a
      color meta_fg
      font-family meta_font
      font-size 1.2em
      margin-top 0
      font-weight normal
      text-decoration none

  &:not(:first-child)
    padding-top cursorline_thickness
    cursorline top

  &.photo
    article.content > a:hover
      background transparent

  &.link
    a.link
      text-decoration none
      &:before
        content "link: "
  &.chat
    padding-top 0.5em
    ol.chat
      list-style-type none
      display table
      margin-left 0
      padding-left 0
      li
        display table-row
        margin-top 0.5em
        &:first
          margin-top 0
        > cite
          display table-cell
          text-align right
          white-space nowrap
        > span
          margin-left 1em
          display block

    .label
      font-weight bold
      font-style normal
  &.audio
    padding-top 0.5em

  &.quote blockquote.quote
  &.answer blockquote.question
    display flex
    border none
    margin 0
    padding 0

    h1
      border-radius 5px
      background-color cursorline_bg
      font-size 1.2em
      margin 0
      padding 1em
      position relative

  &.quote blockquote.quote
    flex-direction column
    align-items flex-end
    h1
      margin-bottom 1em
    cite
      &:before
        content " – "

  &.answer blockquote.question
    flex-direction row
    align-items center
    h1
      flex 1
      arrow 15px, cursorline_bg
    footer
      margin 0
      display flex
      flex-direction column-reverse
      align-items center
      justify-content center
      img
        padding 5px
      p
        margin 0

ul.twocol
  column-count 2

form[role="search"]
  display inline-flex
  input[type="text"]
    border none
    border-radius 5px 0 0 5px
    padding 5px
    background-color lighten(page_bg, 5%)
    color page_fg
  input[type="submit"]
    border none
    border-radius 0 5px 5px 0
    color link_fg
    font-family meta_font
    font-size inherit
    background-color lighten(content_bg, 10%)

+when(breakpoints[0])
  body > main
    width 100%
    min-width initial
    padding 0 1em
  li.post
    flex-direction column
    .postextras
      width 100%
      margin 0

+when(breakpoints[1])
  body > header
    padding-top 1em
    padding-bottom 1.5em
    > div
      flex-direction column
