@import 'nib'

link_background = #404040
comment_foreground = #CD8B00
code_background = #1E1E27

prefix(str)
  &:before
    content str

body
  background-color black
  color #cfbfad
  font-family sans-serif
  font-size 10pt
  margin 0

  display flex
  min-height 100vh
  flex-direction column
  align-items center

main
  flex 1
  display flex
  flex-direction column
  justify-content center

a
  color #ffcd8b
  &:hover
    background-color link_background
  img
    border none
img
  max-width 100%

.postextras
  float right
  max-width 30%

ol.notes
  clear both
  padding-left 0

.postextras, ol.notes
  list-style-type none
  margin-bottom 1em
  > li
    prefix "# "
    color comment_foreground
    font-family "Monaco", "Andale Mono", monospace
    font-size 8pt
    margin-top 0.5em
    a
      color comment_foreground
      text-decoration none

p.permalink a
  @extends ol.notes > li a

.tags ul
  list-style-type none
  display inline
  padding-left 0
  li
    display inline
    margin 0
    padding 0

a.tag
  prefix "#"
  margin-right 1em

blockquote
  border-left 1.3em solid #2e2e37
  padding-left 1em
  margin-left 0em
  margin-right 0em

code, pre
  background-color code_background

h1
  font-family "Monaco", "Andale Mono", monospace
  font-size 24pt
  margin-bottom -10px
  padding-bottom 0
  a
    text-decoration none !important

.meta
  font-family "Monaco", "Andale Mono", monospace
  list-style-type none
  float right
  text-align right
  li
    display inline
    &:not(:first-child)
      prefix " / "

p#description
  prefix "# "
  color comment_foreground
  font-family "Monaco", "Andale Mono", monospace

ol#posts
  list-style-type none
  margin 3em auto
  border-radius 5px
  padding-bottom 2em
  width 100%

ol#posts, footer, header
  background #1e1e27
  background rgba(30, 30, 39, 0.9)
  padding-left 2em
  padding-right 2em
  padding-top 1em
  box-sizing border-box

header, footer
  width 100%
main
  width 70%

header
  padding-bottom 0.5em

li.post
  clear both
  line-height 1.3em
  padding-left 5px

  h3
    prefix "# "
    &, a
      color comment_foreground
      font-family "Monaco", "Andale Mono", monospace
      font-size 12pt
      font-weight normal
      text-decoration none

  &:not(:first-child)
    border-top 1.3em solid #2e2e37
    border-top 1.3em solid rgba(46, 46, 55, 0.99)

  &.photo
    padding-top 0.5em
  &.quote
    div.source
        margin-top 1em
        &:before
          content 'source: '
  &.link
    a.link
      text-decoration none
      &:before
        content "link: "
  &.chat
    padding-top 0.5em
    ul
      list-style-type none
      margin-left 0
      padding-left 0
      li
        margin-top 0.5em
        &:first
          margin-top 0
    dt
      float left
      width 8em
    dd
      margin-left 8.5em
      margin-bottom 0.5em
    .label
      font-weight bold
  &.audio
    padding-top 0.5em

p#attribution
  font-size 8pt

ul.twocol
  column-count 2
